body {
  margin: 0;
  min-width: 250px;
}

* {
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  list-style-type: none;
  background: #04a04a;
  font-size: 18px;
  transition: 0.2s;
  color: #fff;
}

ul li:nth-child(odd) {
  background: #04a04a;
}

ul li:hover {
  background: #14924dbb;
}

ul li.checked {
  background: #888;
  color: #fff;
  text-decoration: line-through;
}

ul li.checked::before {
  content: '';
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}

.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
}

.close:hover {
  background-color: #f44336;
  color: white;
}


.header {
  background-color: #000000;
  padding: 30px 40px;
  color: white;
  text-align: center;
}

.header:after {
  content: "";
  display: table;
  clear: both;
}

input {
  margin: 0;
  border: none;
  border-radius: 0;
  width: 100%;
  padding: 10px;
  float: left;
  font-size: 16px;
}

.addBtn {
  padding: 10px;
  width: 25%;
  background: #d9d9d9;
  color: #555;
  float: left;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 0;
  margin-right: 50%;
}

.addBtn:hover {
  background-color: #bbb;
}
.addBtn button:disabled,
.addBtn button[disabled] {
	border: 1px solid #999999;
	background-color: #cccccc;
	color: #666666;
}

.BtnReset {
  padding: 10px;
  width: 25%;
  background: #d9d9d9;
  color: #555;
  float: left;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 0;
}

.BtnReset:hover {
  background-color: #bbb;
}

.fit-picture {
  width: 250px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.gif {
  width: 80px;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
}

h1 {
  font-size: 36px;
  color: black;
  text-align: center;
  padding-bottom: 40px;
}

.btn-success {
  color: #fff;
  background-color: #198754;
  border-color: #198754;
  margin-top: 10px;
}
.btn-success:hover {
  color: #fff;
  background-color: #115e3a;
  border-color: #115e3a;
  margin-top: 10px;
}

.btn-danger {
  color: #fff;
  background-color: #b02a37;
  border-color: #a52834;
  margin-top: 10px;
}

.btn-danger:hover {
  color: #fff;
  background-color: #81141f;
  border-color: #81141f;
  margin-top: 10px;
}

/* The alert message box */
.alert {
  padding: 20px;
  background-color: #f44336; /* Red */
  color: white;
  margin-bottom: 15px;
}

/* The close button */
.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
  color: black;
}

/* Success button alert*/
.alert.success {background-color: #4CAF50;}
.alert.warning {background-color: #ffc107;}

.btn-warning {
  color: #000;
  background-color: #ffc107;
  border-color: #ffc107;
  margin-top: 10px;
}